
.logo {
    width: 75px;
    height: 75px;
}

.nav-link {
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.1);
    border-radius: 5px;
    transform: translateY(-2px);
    
    /* text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px; */
}

.router-link-active,
.nav-link.active:focus {
    /* background-color: rgba(13, 110, 253, 0.1); */
    color: #074cb5 !important;
    border-radius: 5px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    box-shadow: none;

    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
